img {
  border: 15px solid black;
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body {
  text-align: center;
  background-color: lightgray;
}
header {
  background-color:crimson;
}
h2 {
  color: grey;
  background-color: black;
}
h3 {
    color: grey;
    background-color: black;
}